<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h2>今日の那覇の天気は</h2>
    <%= image_tag "http://openweathermap.org/img/wn/10d@2x.png" %>
    <h2>今日の気温は</h2>
    <h4>最高21度、最低19度です。</h4>
      <h2>湿度は</h2>
      <h4>"77％です。</h4>
      <h2>剛毛癖っ毛さんの髪型注意報</h2>
      <h4>湿度高いです。前日夜からしっかりケアを。</br>スタイルング時は、クリーム系やオイル系のトリートメント材の使用をお勧め。</h4>
    <div class="check">
      <%= link_to (t '.to_top'), root_path , class: 'btn btn-primary' %>
    </div>
  </div>
</div>