<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>HAIR STYLE ADVICE</h1>
      <div class="actions">
        <%= button_to (t 'defaults.login'), login_path, class: 'btn btn-primary' %>
        <%= button_to (t '.no_login'), '#', class: 'btn btn-primary' %>
      </div>
  </div>
</div>
