<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>HAIR STYLE ADVICE</h1>
    <h5>癖っ毛さん専用のお天気予報です。天気予報とともに、髪のうねり具合を予想しアドバイスをしてくれます。</h5>
      <div class="actions">
      <%= form_with model: @weather_forecast, local: true do |f| %>
        <%= f.submit (t '.check'), class: 'btn btn-primary' %>
      <% end %>
      </div>
  </div>
</div>
