<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>HAIR STYLE ADVICE</h1>
      <div class="actions">
      <%= form_with model: @weather_forecast, local: true do |f| %>
        <%= f.submit (t '.check'), class: 'btn btn-primary' %>
      <% end %>
      </div>
  </div>
</div>
